/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

img {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}

@keyframes example {
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  75% {color: green;}
  100% {color: red;}
}

/* The element to apply the animation to */
.animate {
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}



html, body {
  background: url(http://i.imgur.com/CgrRzHC.png) no-repeat center center fixed;
}